<% content_for :styles do %>
  <%= stylesheet_link_tag "backoffice/index" %>
<% end %>
<section class="header-section">
  <h1>Cambiar contraseña</h1>
</section>
<%= render partial: "backoffice/back_button" %>
<%= form_with model: @user,
              url: backoffice_user_password_path(@user),
              method: :put,
              local: true do |f| %>

  <% if @user == current_user %>
    <div class="field mb-3">
      <%= f.label :current_password, "Contraseña actual" %>
      <%= f.password_field :current_password, class: "form-control" %>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= f.label :password, "Nueva contraseña" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :password_confirmation, "Confirmar nueva contraseña" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-actions mt-4">
    <%= f.submit "Actualizar contraseña", class: "btn-submit" %>
  </div>

<% end %>