<h1>Editar usuario</h1>
<%= form_with model: [:backoffice, @user], html: { multipart: true }, local: true do |f| %>
  <%= render partial: "edit_user_form", locals: { f: f } %> 
   <% if @user == current_user %>
  <%= link_to edit_backoffice_user_password_path(@user) do %>
    <div class="form-actions">
      Cambiar mi contraseña
    </div>
  <% end %>
<% end %>
  <div class="form-actions">
    <%= f.submit "Actualizar", class: "btn-submit" %>
  </div>
<% end %>
<%= render partial: "backoffice/back_button" %>
