<% content_for :styles do %>
  <%= stylesheet_link_tag "backoffice/products" %>
<% end %>
<section class="header-section">
  <h1>Administración de Usuarios</h1>
</section>
<%= render partial: "backoffice/back_button" %>
<section class="filters">
  <%= search_form_for @q, 
            url: backoffice_users_path, 
            method: :get,
            class: "filters-form",
            data: { controller: "live-search", 'live-search-target': 'form' } do |f| %>
  <%= hidden_field_tag :page, params[:page] || 1 %>
    <div class="filters-grid">
      <div class="filter-block">
        <label for="q_name_cont">Nombre</label>
        <%= f.search_field :name_cont,
              placeholder: "Nombre de usuario",
              class: "filter-input search-input" %>
      </div>
      <div class="filter-block">
        <label for="q_surname_cont">Apellido</label>
        <%= f.search_field :surname_cont,
              placeholder: "Apellido de usuario",
              class: "filter-input search-input" %>
      </div>
      <div class="filter-block">
        <label for="q_email_cont">Email</label>
        <%= f.search_field :email_cont,
              placeholder: "Email de usuario",
              class: "filter-input search-input" %>
      </div>
      <div class="filter-block">
        <label for="q_role_eq">Rol</label>
        <%= f.select :role_eq,
              options_for_select(
                [["Todos", ""], ["Administrador", "0"], ["Gerente", "2"], ["Empleado", "1"]],
                params.dig(:q, :role_eq)),
              {},
              class: "filter-select",
              data: { action: "change->live-search#changed" } %>
      </div>
    </div>
          <div class="buttons-block">
        <button type="submit" class="icon-btn search" aria-label="Buscar">
          <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
          <span class="sr-only">Buscar</span>
        </button>
        <%= link_to backoffice_users_path,
              class: "icon-btn clear",
              aria: { label: "Limpiar filtros" } do %>
          <i class="fa-solid fa-broom" aria-hidden="true"></i>
          <span class="sr-only">Limpiar</span>
        <% end %>
      </div>
  <% end %>
</section>
<% if @users.any? %>
  <%= turbo_frame_tag :users_list do %>
    <table class="records-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Estado</th>
          <th class="actions-col">Acciones</th>
        </tr>
      </thead>
      <tbody class="records-body">
        <% @users.each do |u| %>
          <tr>
            <td><%= u.name %></td>
            <td><%= u.surname %></td>
            <td><%= u.email %></td>
            <td><%= u.role_name %></td>
            <td>
              <% if u.removed? %>
                <span class="badge badge-danger">Eliminado</span>
              <% else %>
                <span class="badge badge-success">Activo</span>
              <% end %>
            </td>
            <td class="actions">
               <%= link_to backoffice_user_path(u), 
                  class: "icon-btn view #{'disabled' unless can?(:read, u)}", 
                  aria: { label: "Ver #{u.name}" }, 
                  data: { turbo_frame: "_top" },
                  disabled: !can?(:read, u) do %>
                <i class="fa-solid fa-eye" aria-hidden="true"></i>
                <span class="sr-only">Ver</span>
              <% end %>
              <% unless u == current_user %>
                <% unless u.removed? %>
                  <%= link_to edit_backoffice_user_path(u), 
                      class: "icon-btn warning #{'disabled' unless can?(:update, u)}", 
                      aria: { label: "Editar #{u.name}" }, 
                      data: { turbo_frame: "_top" },
                      disabled: !can?(:update, u) do %>
                    <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                    <span class="sr-only">Editar</span>
                  <% end %>
                  <%= button_to backoffice_user_path(u), method: :delete,
                      class: "icon-btn danger separator-left #{'disabled' unless can?(:destroy, u)}",
                      aria: { label: "Eliminar #{u.name}" },
                      data: { 
                        turbo_confirm: "¿Seguro que querés eliminar #{u.name}?",
                        turbo_frame: "_top"
                      },
                      disabled: !can?(:destroy, u) do %>
                    <i class="fa-solid fa-trash" aria-hidden="true"></i>
                    <span class="sr-only">Eliminar</span>
                  <% end %>
                <% else %>
                  <%= button_to restore_backoffice_user_path(u), method: :patch,
                      class: "icon-btn success separator-left",
                      aria: { label: "Restaurar #{u.name}" },
                      data: { 
                        turbo_confirm: "¿Seguro que querés restaurar #{u.name}?",
                        turbo_frame: "_top"
                      } do %>
                    <i class="fa-solid fa-rotate-left" aria-hidden="true"></i>
                    <span class="sr-only">Restaurar</span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end%>
<% end %>
<div class="pagination wrapper">
  <div class="results-info">
    <%= page_entries_info @users, entry_name: 'usuarios' %>
  </div>
  <div class="pagination bottom" aria-label="Paginación">
    <%= paginate @users, window: 2, params: request.query_parameters %>
  </div>
</div>
<%= link_to new_backoffice_user_path, class: "floating-btn" do %>
  +
<% end %>