<% content_for :styles do %>
  <%= stylesheet_link_tag "backoffice/products" %>
<% end %>
<section class="header-section">
  <h1>Administración de Usuarios</h1>
</section>
<%= render partial: "backoffice/back_button" %>
<section class="filters">
  <%= search_form_for @q, 
            url: backoffice_users_path, 
            method: :get,
            class: "filters-form",
            data: { controller: "live-search" },
            html: { 'data-live-search-target': 'form' } do %>
  <%= hidden_field_tag :page, params[:page] || 1 %>
    <div class="filters-grid">
      <div class="filter-block">
        <label for="q">Nombre</label>
        <%= text_field_tag :name, params[:name],
              placeholder: "Nombre de usuario",
              class: "filter-input search-input" %>
      </div>
      <div class="filter-block">
        <label for="format">Apellido</label>
        <%= text_field_tag :surname, params[:surname],
              placeholder: "Nombre de usuario",
              class: "filter-input search-input" %>
      </div>
      <div class="filter-block">
        <label for="status">Email</label>
        <%= text_field_tag :email, params[:email],
              placeholder: "Email de usuario",
              class: "filter-input search-input" %>
      </div>
      <div class="filter-block">
        <label for="role">Rol</label>
        <%= select_tag :role,
              options_for_select(
                [["Todos", ""], ["Administrador", "administrator"], ["Gerente", "manager"], ["Empleado", "employee"]],
                params[:role]),
              class: "filter-select",
              data: { action: "change->live-search#changed" } %>
      </div>
      <div class="buttons-block">
        <button type="submit" class="icon-btn search" aria-label="Buscar">
          <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
          <span class="sr-only">Buscar</span>
        </button>
        <%= link_to backoffice_users_path,
              class: "icon-btn clear",
              aria: { label: "Limpiar filtros" } do %>
          <i class="fa-solid fa-broom" aria-hidden="true"></i>
          <span class="sr-only">Limpiar</span>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
<% if @users.any? %>
  <%= turbo_frame_tag :users_list do %>
    <table class="records-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Rol</th>
          <th class="actions-col">Acciones</th>
        </tr>
      </thead>
      <tbody class="records-body">
        <% @users.each do |u| %>
            <td><%= u.name %></td>
            <td><%= u.surname %></td>
            <td><%= u.email %></td>
            <td><%= u.role_name %></td>
            <td class="actions">
               <%= link_to backoffice_user_path(u), 
                  class: "icon-btn view #{'disabled' unless can?(:read, u)}", 
                  aria: { label: "Ver #{u.name}" }, 
                  data: { turbo_frame: "_top" },
                  disabled: !can?(:read, u) do %>
                <i class="fa-solid fa-eye" aria-hidden="true"></i>
                <span class="sr-only">Ver</span>
              <% end %>
              <% unless u == current_user %>
                <%= link_to edit_backoffice_user_path(u), 
                    class: "icon-btn warning #{'disabled' unless can?(:update, u)}", 
                    aria: { label: "Editar #{u.name}" }, 
                    data: { turbo_frame: "_top" },
                    disabled: !can?(:update, u) do %>
                  <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                  <span class="sr-only">Editar</span>
                <% end %>
                <%= button_to backoffice_user_path(u), method: :delete,
                    class: "icon-btn danger separator-left #{'disabled' unless can?(:destroy, u)}",
                    aria: { label: "Eliminar #{u.name}" },
                    data: { 
                      turbo_confirm: "¿Seguro que querés eliminar #{u.name}?",
                      turbo_frame: "_top"
                    },
                    disabled: !can?(:destroy, u) do %>
                  <i class="fa-solid fa-trash" aria-hidden="true"></i>
                  <span class="sr-only">Eliminar</span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end%>
<% end %>
<div class="pagination wrapper">
  <div class="results-info">
    <%= page_entries_info @users, entry_name: 'usuarios' %>
  </div>
  <div class="pagination bottom" aria-label="Paginación">
    <%= paginate @users, window: 2, params: request.query_parameters %>
  </div>
</div>
<%= link_to new_backoffice_user_path, class: "floating-btn" do %>
  +
<% end %>