<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pancake Records" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Pancake Records">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= favicon_path('icon.png') %>" type="image/png">
    <link rel="icon" href="<%= favicon_path('icon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= favicon_path('icon.png') %>">

    <%# Hoja de estilos principal de la aplicación %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :styles %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="site-header" id="main-header" data-controller="header" data-header-target="header">
    <div class="header-container">
      <div class="branding">
        <%= link_to root_path, class: "brand-link" do %>
          <span>Pancake Records</span>
        <% end %>
      </div>
      <div class="header-right">
        <% if user_signed_in? %>
          <div class="user-info-avatar">
            <div class="user-avatar" title="<%= current_user.email %>">
              <i class="fa-solid fa-user-circle"></i>
            </div>
          </div>
          <div class="header-actions">
            <%= link_to backoffice_root_path,
                        class: "header-btn btn-backoffice",
                        title: "Backoffice",
                        data: { turbo: false } do %>
              <i class="fa-solid fa-gear"></i>
              <span>Admin</span>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, data: { "turbo-method": :delete }, class: "header-btn btn-logout", title: "Cerrar sesión" do %>
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>Salir</span>
            <% end %>
          </div>
        <% else %>
          <%= link_to new_user_session_path, class: "header-btn btn-login" do %>
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Iniciar Sesión</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </header>
  <div class="container">

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash #{name}" %>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </div>
  <%= yield :scripts %>
  </body>
</html>
